body {
        background: url(http://farm3.static.flickr.com/2702/4133847463_053cc90a95_b.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;

}

body.birthday {
    background: url(http://farm5.static.flickr.com/4143/4824584654_37b58ac14a_b.jpg) no-repeat center center fixed;
}

ul#wishlist {
	display: block;
}


ul#wishlist li.enter-stage-left {
    margin-left:-300px;
}

ul#wishlist li.exit-stage-right {
    margin-left:1000px;
}

ul#wishlist li {
    -webkit-transition: margin 1s linear;
    transition: margin 1s linear;

    margin-left:-1300px;
    position: fixed;
    top: 50%;
    left: 50%;

    margin-top: -200px;

	padding: 10px 15px;
	list-style: none;
	display: block;
	border: 1px solid black;
	width: 600px;
	height: 300px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    background-color: rgba(0,0,0,0.85);
    color: white;
}

ul#wishlist li span.title {
    font-family: 'Neuton', arial, serif;
    font-size: 12pt;
    display: block;
}

ul#wishlist li div.imagearea {
    margin-top: 1em;
    height: 200px;
    width: 200px;
    border: 3px solid rgb(60, 141, 13);
    background-color: rgba(60, 141, 13, 0.7);
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    float: left;
    padding: 10px
}

ul#wishlist li div.imagearea div.imageframe {
    height: 160px;
    width: 160px;
    margin: 20px; 
    background-color: white;
}

ul#wishlist li div.imagearea div.imageframe img {
}

ul#wishlist li div.details {
    margin-top: 5px;
    font-family: Helvetica;
    font-size: 10pt;
}


ul#wishlist li div.reason {
    font-family: 'Reenie Beanie', arial, serif;
    font-size: 16pt;
    margin-left: 250px;
    margin-top: .8em;
    height: 200px;
    border: 3px solid rgb(226, 65, 78);
    background: url(notepad.png);
    color: black;
    border-radius: 15px;
    padding: 10px

}

div#lowerthird {
    position: fixed;
    bottom: 50px;
    height: 100px;
    width: 100%;
    margin: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.85);
}

div#lowerthird img {
   margin: 12px 10px;
   bottom: 0;
}

div#lowerthird img:hover {
    cursor: pointer;
    -webkit-box-shadow:0 0 100px #E2414E;
    -moz-box-shadow: 0 0 100px #E2414E;
    box-shadow:0 0 100px #E2414E;
}

div#lowerthird img.selected {
    cursor: pointer;
    -webkit-box-shadow:0 0 100px #3C8D0D;
    -moz-box-shadow: 0 0 100px #3C8D0D;
    box-shadow:0 0 100px #3C8D0D;
}
    